.chat_container{
    display: flex;
    flex-direction: column;
    height: 100%;
    background: white;
}
.msg_container{
    flex-grow: 3;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.header{
    height: 50px;
    margin: 10px;
    font-size: 20px;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
}
