.left_container{
    flex-grow: 2;
    display: flex;
    justify-content: center;
}
.left_container video{
    max-width: 640px;
}
.right_container{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.btn{
    border: none;
    background: #0606f6a1;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
}
form div{
    margin: 20px;
  }