
.form_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.btn{
    border: none;
    background: #0606f6a1;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
}
.main_contianer{
    display: flex;
    height: 90vh;
    background: black;

}
.vieo_container{
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  overflow: scroll;
    justify-items: center;
  align-items: center;
}
.vieo_container div{
    padding: 1rem;
}
.side_panel{
    width: 350px;
    height: 90vh;
}

.control_panel{
    height: 10vh;
    width: 100%;
    background: #353333;
    display: flex;
    align-items: center;
    color: white;
}
@media only screen and (max-width: 600px) {
    .side_panel {
     position: absolute;
     right: 0;
     width: 250px;
    }
    .vieo_container{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    
  }

