.player{
    border-radius: 10px;
    width: 100%;
    border: 2px solid #fff6f6;
}
.video_container{
    position: relative;
}
.title{
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: white;
    font-size: 15px;
}
.main_btns{
    position: absolute;
    bottom: 10px;
    display: flex;
    left: 50%;
    transform: translate(-50%, 0);
   
}
.main_btns button {
    margin: 0px 10px;
    cursor: pointer;
    border: 1px solid #bfbebe;
}